.app-container {
  display: grid;
  grid-template-columns: 20% 80% 0%; /* Three columns: sidebar (20%), chatbot-wrapper (80%), and empty-column (0%) */
  height: 100vh; /* Full height of the viewport */
}

.sidebar {
  background-color: #f0f0f0; /* Background color for the sidebar */
  padding: 10px; /* Padding inside the sidebar */
  width: 100%; /* Occupy full width of its container*/
}

.chatbot-wrapper {
  display: flex; 
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}
